/*
    Custom made styles for the Application Tracker application
*/
/*====================HTML defaults*/
html {
  /*font-size: 100%;*/
  font-size: 14px;
}

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Liberation Sans", Verdana, Arial, sans-serif;
    font-size: 100%;
    background-color: #999;
    color: #000;
}

body#body-test {
    background-color: #eee;
}
/*====================BACKGROUND */
#content-background {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    background-image: url("../img/remains_by_iwaisan-v01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
}

div {
    /*outline: 1px dashed #000000;*/
    background-color: #fff;
}
/*====================TILES  BASIC elements */
#header {
    height: 80px;
}

#sidebar {
    float: left;
    width: 14%;
    min-width: 100px;
}

#content {
    float: left;
    width: 80%;
}

#footer {
    clear: both;
    height: 80px;
}

/*====================HEADER FOOTER UNIQUE Style*/
div#header, div#footer {
    /*outline: 1px dashed #000000;*/
    background-color: #ddd;
    
}

div#sidebar, div#content {
    margin: 3px 1%;
    padding: 0.5%;
    border-radius: 5px;
}
/*====================HEADER FOOTER UNIQUE Style END*/

#login {
	float : none;
    width: 450px; 
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    margin: 3px auto;
    padding: 1px;
}


/*====================TILES elements END*/