/*
	Custom made styles for the Application Tracker application
*/
body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}
div.row {
	border:5px solid red;
}
div.row  div{
	padding: 10px;
	border:5px solid green;
}